/* Main CSS Entry Point - Imports all modular CSS files */
/* All code uses camelCase naming convention */

/* Base Styles */
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('./base/typography.css');

/* Layout */
@import url('./layout/header.css');
@import url('./layout/background.css');
@import url('./layout/pageTransitions.css');

/* Components */
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/forms.css');
@import url('./components/sections.css');
@import url('./components/scrollArrow.css');

/* Pages */
@import url('./pages/home.css');
@import url('./pages/about.css');
@import url('./pages/help.css');
@import url('./pages/browse.css');
@import url('./pages/report.css');
@import url('./pages/request.css');
@import url('./pages/contact.css');
@import url('./pages/auth.css');

/* Utilities */
@import url('./utilities/animations.css');
@import url('./utilities/responsive.css');
